In [7]:
import pandas as pd

In [8]:
properties = pd.read_csv('data/test.csv')
properties.head()

  Building Size   Year Built Lot Size                      address   Price
0         1000ft        1990       big            1132 second blvd  100000
1        45555ft        2020   massive  87 highland ave, ca, 90045  300000

In [14]:
list(properties.columns)

['Building Size ', 'Year Built', 'Lot Size ', 'address', 'Price']

In [15]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ['Building Size ', 'Lot Size ', 'address']
one_hot = OneHotEncoder()
transformer = ColumnTransformer([('one_hot', one_hot, categorical_features)], remainder = 'passthrough')

transformed_X = transformer.fit_transform(properties)
transformed_X

array([[1.00e+00, 0.00e+00, 1.00e+00, 0.00e+00, 1.00e+00, 0.00e+00,
        1.99e+03, 1.00e+05],
       [0.00e+00, 1.00e+00, 0.00e+00, 1.00e+00, 0.00e+00, 1.00e+00,
        2.02e+03, 3.00e+05]])

In [16]:
pd.DataFrame(transformed_X)

     0    1    2    3    4    5       6         7
0  1.0  0.0  1.0  0.0  1.0  0.0  1990.0  100000.0
1  0.0  1.0  0.0  1.0  0.0  1.0  2020.0  300000.0